:root{

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'lato';
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
}

#hero{
    padding-top: 27px;
    background: linear-gradient(45deg, rgba(42, 64, 50, 1) 10%, rgba(58, 94, 70, 1));
}

#hero .hero-text{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 15px;
}

h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 50px;
    color: white;
}

h2{
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: black;
}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: black;
}

#hero span{
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
}

#hero p{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}


#hero .hero-images{
    position: relative;
    bottom: 20px;
    z-index: 1;
    height: 391px;
    width: 305.5px;
    margin-left: auto;
    margin-right: auto;
}
#hero .hero-images .hero-man{
     position: absolute;
     height: 391px;
     left: 49.74px;

}
#hero .hero-images .ellipse-left{
    z-index: -1;
    position: absolute;
    height: 192.63px;
    top: 110.4px;
}
#hero .hero-images .ellipse-right{
    position: absolute;
    width: 192.63px;
    top: 49.31px;
    right: 0;
    z-index: -1;
}
#mobile-nav{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgba(253, 222, 103, 1);
}

#mobile-nav ul{
    justify-content: space-between;
    padding: 12px 15px;
}

#hero a{
    width: 180px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(253, 222, 103, 1);
    padding: 16px 40px;
    border-radius: 6px;
    margin-top: 12px;
}

#brands ul{
    background-color: black;
    justify-content: space-between;
    padding: 12px 15px;
}

#new-collections h2{
    margin: 32px 129px 32px 15px;
}

#new-collections .new-collections-cards{
    margin-left: auto;
    margin-right: auto;
    align-items: center; 
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}

#new-collections .new-collections-cards .new-collection-1{
    position: relative;
    width: 330px;
    height: 410.9px;
    border-radius: 24px;
    background-color: rgba(197, 194, 202, 1);
}

#new-collections .new-collections-cards .new-collection-2{
    position: relative;
    width: 330px;
    height: 246.49px;
    border-radius: 24px;
    background-color: rgba(253, 222, 103, 1);
}

#new-collections .new-collections-cards .new-collection-2 h3{
    position: absolute;
    top: 20.33px;
    right: 18px;
}

#new-collections .new-collections-cards .new-collection-1 h3{
    position: absolute;
    top: 18px;
    left: 18px;
    text-align: center;
}

#new-collections .new-collections-cards .new-collection-1 img{
    position: absolute;
    bottom: 0;
    left: 66.36px;
}

#new-collections .new-collections-cards .new-collection-2 img{
    position: absolute;
    bottom: 0;

}

#new-collections .new-collections-cards .new-collection-2 span{
    position: absolute;
    font-family: 'roboto';
    font-size: 24px;
    font-weight: 700;
    top: 108.8px;
    right: 40px;

}

#new-collections .new-collections-cards .new-collection-1 a, #new-collections .new-collections-cards .new-collection-2 a{
    color: white;
    background-color: black;
    padding: 16px 40px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'lato';
    z-index: 1;
    position: absolute;
    bottom: 18px;
    right: 18px;

} 





@media (min-width:1000px){
    body{

    }

    #mobile-nav-bar
    {
        display: none;
    }
}