:root{

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'lato';
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
}

#hero{
    padding-top: 27px;
    background: linear-gradient(45deg, rgba(42, 64, 50, 1) 10%, rgba(58, 94, 70, 1));
}

#hero .hero-text{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 15px;
}

h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 50px;
    color: white;
}

h2{
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: black;
}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: black;
}

h4{
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'roboto';
}

#hero span{
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
}

#hero p{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}


#hero .hero-images{
    position: relative;
    bottom: 20px;
    z-index: 1;
    height: 391px;
    width: 305.5px;
    margin-left: auto;
    margin-right: auto;
}
#hero .hero-images .hero-man{
     position: absolute;
     height: 391px;
     left: 49.74px;

}
#hero .hero-images .ellipse-left{
    z-index: -1;
    position: absolute;
    height: 192.63px;
    top: 110.4px;
}
#hero .hero-images .ellipse-right{
    position: absolute;
    width: 192.63px;
    top: 49.31px;
    right: 0;
    z-index: -1;
}
#mobile-nav{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgba(253, 222, 103, 1);
}

#mobile-nav ul{
    justify-content: space-between;
    padding: 12px 15px;
}

#hero a{
    width: 180px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(253, 222, 103, 1);
    padding: 16px 40px;
    border-radius: 6px;
    margin-top: 12px;
}

#brands ul{
    background-color: black;
    justify-content: space-between;
    padding: 12px 15px;
}

#new-collections h2, #best-sellers h2{
    margin: 32px 129px 32px 15px;
}

#new-collections .new-collections-cards{
    margin-left: auto;
    margin-right: auto;
    align-items: center; 
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}

#new-collections .new-collections-cards .new-collection-1{
    position: relative;
    width: 330px;
    height: 410.9px;
    border-radius: 24px;
    background-color: rgba(197, 194, 202, 1);
}

#new-collections .new-collections-cards .new-collection-2{
    position: relative;
    width: 330px;
    height: 246.49px;
    border-radius: 24px;
    background-color: rgba(253, 222, 103, 1);
}

#new-collections .new-collections-cards .new-collection-2 h3{
    position: absolute;
    top: 20.33px;
    right: 18px;
}

#new-collections .new-collections-cards .new-collection-1 h3{
    position: absolute;
    top: 18px;
    left: 18px;
    text-align: center;
}

#new-collections .new-collections-cards .new-collection-1 img{
    position: absolute;
    bottom: 0;
    left: 66.36px;
}

#new-collections .new-collections-cards .new-collection-2 img{
    position: absolute;
    bottom: 0;

}

#new-collections .new-collections-cards .new-collection-2 span{
    position: absolute;
    font-family: 'roboto';
    font-size: 24px;
    font-weight: 700;
    top: 108.8px;
    right: 40px;

}

#new-collections .new-collections-cards .new-collection-1 a, #new-collections .new-collections-cards .new-collection-2 a{
    color: white;
    background-color: black;
    padding: 16px 40px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'lato';
    z-index: 1;
    position: absolute;
    bottom: 18px;
    right: 18px;
} 

#best-sellers{
    background-color: rgba(233, 233, 233, 1);
    padding-top: 16px;
    padding-bottom: 32px;
}


#best-sellers ul{
    overflow: auto;
    margin-left: 15px;
    gap: 35px;
}

#best-sellers .best-seller-box .best-seller-box-top{
    position: relative;
    background-color: white;
    border-radius: 24px;
    height: 220px;
    width: 227.75px;
}

#best-sellers .best-seller-box .best-seller-box-top img{
    position: absolute;
    width: 132.99px;
    height: 148.36px;
    top: 31.32px;
    left: 43.5px;
}

#best-sellers .best-seller-box .best-seller-box-top svg{
    position: absolute;
    top: 16px;
    right: 16px;
}

#best-sellers .best-seller-box .best-seller-box-bottom{
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

#best-sellers .best-seller-box .best-seller-box-bottom .shopping-svg a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 222, 103, 1);
    border-radius: 6px;
    padding: 7px 7px;

}

#best-sellers .best-seller-box .best-seller-box-bottom .shopping-svg svg{
    width: 16px;
}

#best-sellers .best-seller-box .best-seller-box-bottom span{
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'roboto';
}

#best-sellers ul li:last-child span{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.2);
}

#best-sellers ul li:last-child span::after{
    content: '$11.25';
    text-decoration: none;
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.6);
}

#sales-mobile{
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgba(59, 95, 71, 1);
}

#sales-mobile .sales-mobile-inner h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
    color: white;
    text-align: center;
}

#sales-mobile .sales-mobile-inner .mobile-timer-container{
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
}

#sales-mobile .sales-mobile-inner .mobile-timer-container .mobile-timer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 56px;
    background-color: rgba(24, 24, 24, 0.25);
    border-radius: 8px;
}

#sales-mobile .sales-mobile-inner .mobile-timer-container .mobile-timer span{
    font-size: 32px;
    font-weight: 700;
    color: white;
}

#sales-mobile .sales-mobile-inner .mobile-timer-container .mobile-timer p{
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 12px;
}





@media (min-width:1000px){
    body{

    }

    #mobile-nav-bar
    {
        display: none;
    }

    #sales-left{
        display:flex;
        width: 200px;
        height: 200px;
        background-color: ;
    }
}